extends layout

block content
  section.header
    .header-background
      video.PC(autoplay='', loop='', width='100%')
        source(src='https://res.cloudinary.com/mavis/video/upload/v1586951018/Animation/Vioet-Evergarden-1_um7cd7.mp4')
      img.Smartphone-Tablet(width='100%', src='https://res.cloudinary.com/mavis/image/upload/v1587049930/img/900448_2_-min_v5jazs.png')
      .header-taskbar
        .header-taskbar-info
          | Info
  section.content
    .content-trailer
      img.content-trailer-img--left(src='https://res.cloudinary.com/mavis/image/upload/v1586491165/img/903094-removebg_rvtjxs.png', alt='')
      img.content-trailer-img--right(src='https://res.cloudinary.com/mavis/image/upload/v1586491165/img/903094-removebg_rvtjxs.png', alt='')
      .content-trailer-music
        video#player(controls='', width='100%', poster='https://res.cloudinary.com/mavis/image/upload/v1586491165/img/910057_doko6d.png')
          source(src='https://res.cloudinary.com/mavis/video/upload/v1586525793/sound/Lovely_-_AMV_-_Anime_MV_ilqwco.mp4', type='video/mp4')
    video.PC(style='z-index:-1;', width='100%', loop='', autoplay='', src='https://res.cloudinary.com/mavis/video/upload/v1586685150/Animation/Hoadao_Ver2-1_avww2v.mp4')
    .Smartphone-Tablet(style='width: 100%; height: 200px;')
  section.plot
    .plot-violet-text(style="font-family: 'Gotu', sans-serif;")
      p
      |  Câu chuyện xoay quanh những Hình nhân ghi chép tự động (自動手記人形
      |      (Tự động thủ ký nhân hình)): búp bê được tạo ra bởi Dr. Orland để giúp
      |      người vợ mù Mollie của mình viết tiểu thuyết, và sau đó là cho những
      |      người khác cũng cần sự giúp đỡ tương tự. Ở thời điểm hiện tại, tên gọi
      |      đó ám chỉ ngành công nghiệp viết hộ/viết thuê (ghostwritter). Mặc dù
      |      chức năng ban đầu của Hình nhân ghi chép tự động chỉ là chuyển lời nói
      |      thành văn bản, nhưng một nhóm người khác đã lập ra công ty để "cho
      |      thuê" những phụ nữ tài năng xinh đẹp, vừa có khả năng năng giống như
      |      Hình nhân ghi chép tự động ban đầu, lại vừa có thể thực hiện các nhiệm
      |      vụ có mục đích dân sự lẫn quân sự.
    img(src='https://res.cloudinary.com/mavis/image/upload/v1586688522/img/888035_xzr2id_ihxol7.png')
  section.empty
  section.character(style='width: inherit; height: 500px;')
    .swiper-container
      // Additional required wrapper
      .swiper-wrapper
        // Slides
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224205/img/claudia2_i7ottb.png')
          // <div class="swiper-lazy-preloader"></div>
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224205/img/gilbert_tcqcb3.png')
          // <div class="swiper-lazy-preloader"></div>
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224319/img/cattleya2_axmaos.png')
          // <div class="swiper-lazy-preloader"></div>
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224243/img/violet2_ajyxjf.jpg')
          // <div class="swiper-lazy-preloader"></div>
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224205/img/benedict_po5db1.png')
          // <div class="swiper-lazy-preloader"></div>
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224205/img/erica_dhmvdr.png')
          // <div class="swiper-lazy-preloader"></div>
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224205/img/Iris_njszum.png')
          // <div class="swiper-lazy-preloader"></div>
      // If we need pagination
      .swiper-pagination
      //
        If we need navigation buttons
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    #character-info
      #claudia.hide
        p
          | C&#x1EF1;u trung t&aacute; l&#x1EE5;c qu&acirc;n Leidenschaftlich, Claudia hi&#x1EC7;n l&agrave; gi&aacute;m &dstrok;&#x1ED1;c c&#x1EE7;a
          | c&ocirc;ng ty b&#x1B0;u ch&iacute;nh CH. T&#x1EEB;ng l&agrave; b&#x1EA1;n th&acirc;n v&#x1EDB;i Gilbert trong th&#x1EDD;i gian &#x1EDF;
          | t&#x1EA1;i ng&utilde;, Claudia c&#x1ED1; g&#x1EAF;ng gi&uacute;p Violet &dstrok;i nh&#x1EEF;ng b&#x1B0;&#x1EDB;c &dstrok;&#x1EA7;u ti&ecirc;n trong
          | h&agrave;nh tr&igrave;nh m&#x1EDB;i c&#x1EE7;a &dstrok;&#x1EDD;i m&igrave;nh, &dstrok;&#x1ED3;ng th&#x1EDD;i c&utilde;ng l&agrave; &dstrok;&#x1EC3; t&#x1EF1; gi&#x1EA3;i tho&aacute;t m&igrave;nh
          | kh&#x1ECF;i c&#x1EA3;m gi&aacute;c t&#x1ED9;i l&#x1ED7;i, b&#x1EAF;t ngu&#x1ED3;n t&#x1EEB; vi&#x1EC7;c &dstrok;&#x1ED1;i x&#x1EED; v&#x1EDB;i Violet tr&#x1B0;&#x1EDB;c kia
          | trong qu&acirc;n &dstrok;&#x1ED9;i.
      #gilbert.hide
        p
          | L&agrave; thi&#x1EBF;u t&aacute; l&#x1EE5;c qu&acirc;n Leidenschaftlich, Gilbert &dstrok;&#x1EBF;n t&#x1EEB; m&#x1ED9;t gia &dstrok;&igrave;nh
          | qu&yacute; t&#x1ED9;c. Sau tr&#x1EAD;n chi&#x1EBF;n cu&#x1ED1;i c&ugrave;ng v&#x1EDB;i Violet, anh &dstrok;&#x1B0;&#x1EE3;c cho l&agrave; &dstrok;&atilde; hy
          | sinh do thi th&#x1EC3; c&#x1EE7;a anh kh&ocirc;ng &dstrok;&#x1B0;&#x1EE3;c t&igrave;m th&#x1EA5;y. Anh tr&acirc;n tr&#x1ECD;ng Violet
          | nhi&#x1EC1;u h&#x1A1;n b&#x1EA5;t c&#x1EE9; &dstrok;i&#x1EC1;u g&igrave; kh&aacute;c, v&agrave; ch&iacute;nh nh&#x1EEF;ng l&#x1EDD;i cu&#x1ED1;i c&ugrave;ng c&#x1EE7;a anh
          | v&#x1EDB;i c&ocirc; - &quot;T&ocirc;i y&ecirc;u em&quot; - l&agrave; &dstrok;&#x1ED9;ng l&#x1EF1;c &dstrok;&#x1EC3; c&ocirc; ti&#x1EBF;n l&ecirc;n con &dstrok;&#x1B0;&#x1EDD;ng m&#x1EDB;i c&#x1EE7;a
          | m&igrave;nh v&#x1EDB;i c&ocirc;ng vi&#x1EC7;c H&igrave;nh nh&acirc;n ghi ch&eacute;p t&#x1EF1; &dstrok;&#x1ED9;ng. Th&#x1EE9; duy nh&#x1EA5;t c&ograve;n l&#x1EA1;i
          | c&#x1EE7;a Gilbert cho Violet l&agrave; m&#x1ED9;t chi&#x1EBF;c v&ograve;ng c&#x1ED5; c&uacute;c m&agrave;u xanh l&aacute; c&acirc;y
          | gi&#x1ED1;ng v&#x1EDB;i m&agrave;u m&#x1EAF;t c&#x1EE7;a Gilbert.
      #cattleya.hide
        p
          | Cattleya l&agrave; m&#x1ED9;t H&igrave;nh nh&acirc;n Ghi ch&eacute;p T&#x1EF1; &dstrok;&#x1ED9;ng l&agrave;m vi&#x1EC7;c t&#x1EA1;i c&ocirc;ng ty b&#x1B0;u
          | ch&iacute;nh CH v&agrave; hi&#x1EC7;n l&agrave; k&yacute; gi&#x1EA3; n&#x1ED5;i ti&#x1EBF;ng nh&#x1EA5;t. C&ocirc; &dstrok;&atilde; th&acirc;n v&#x1EDB;i Hodgins
          | ngay c&#x1EA3; tr&#x1B0;&#x1EDB;c khi l&agrave;m vi&#x1EC7;c &#x1EDF; c&ocirc;ng ty.
      #violet
        p
          | Violet l&agrave; m&#x1ED9;t nh&acirc;n vi&ecirc;n m&#x1EDB;i c&#x1EE7;a C&ocirc;ng ty B&#x1B0;u ch&iacute;nh CH, v&agrave; l&agrave;m vi&#x1EC7;c
          | d&#x1B0;&#x1EDB;i danh ph&#x1EAD;n H&igrave;nh nh&acirc;n Ghi ch&eacute;p T&#x1EF1; &dstrok;&#x1ED9;ng. M&#x1EB7;c d&ugrave; tr&#x1B0;&#x1EDB;c &dstrok;&acirc;y l&agrave; m&#x1ED9;t
          | qu&acirc;n nh&acirc;n &iacute;t khi bi&#x1EC3;u l&#x1ED9; c&#x1EA3;m x&uacute;c, nh&#x1B0;ng c&ocirc; t&#x1ECF; r&otilde; s&#x1EF1; t&ocirc;n tr&#x1ECD;ng tuy&#x1EC7;t
          | &dstrok;&#x1ED1;i v&#x1EDB;i c&#x1EA5;p tr&ecirc;n c&#x1EE7;a m&igrave;nh l&agrave; Gilbert Bougainvillea. M&#x1EA5;t c&aacute;nh tay v&agrave;
          | k&yacute; &#x1EE9;c c&#x1EE7;a m&igrave;nh v&#x1EC1; chi&#x1EBF;n tranh c&ugrave;ng nh&#x1EEF;ng tr&iacute; nh&#x1EDB; v&#x1EC1; s&#x1ED1; ph&#x1EAD;n c&#x1EE7;a
          | Gilbert, c&ocirc; tr&#x1EDF; th&agrave;nh m&#x1ED9;t H&igrave;nh nh&acirc;n ghi ch&eacute;p T&#x1EF1; &dstrok;&#x1ED9;ng &dstrok;&#x1EC3; t&igrave;m hi&#x1EC3;u &yacute;
          | ngh&itilde;a c&#x1EE7;a c&acirc;u &quot;T&ocirc;i y&ecirc;u em&quot; (&#x611B;&#x3057;&#x3066;&#x308B; Aishiteru?) - nh&#x1EEF;ng l&#x1EDD;i cu&#x1ED1;i
          | c&ugrave;ng Gilbert &dstrok;&atilde; n&oacute;i m&agrave; c&ocirc; c&oacute; th&#x1EC3; nh&#x1EDB;.
      #benedict.hide
        p
          | Benedict l&agrave; nh&acirc;n vi&ecirc;n &dstrok;&#x1B0;a th&#x1B0; &#x1EDF; c&ocirc;ng ty b&#x1B0;u ch&iacute;nh CH.
      #erica.hide
        p
          | Erika l&agrave; H&igrave;nh nh&acirc;n Ghi ch&eacute;p T&#x1EF1; &dstrok;&#x1ED9;ng l&agrave;m vi&#x1EC7;c t&#x1EA1;i c&ocirc;ng ty b&#x1B0;u ch&iacute;nh
          | CH.Kh&#x1EA3; n&abreve;ng giao ti&#x1EBF;p v&#x1EDB;i kh&aacute;ch h&agrave;ng c&#x1EE7;a c&ocirc; r&#x1EA5;t k&eacute;m.
      #iris.hide
        p
          | Iris l&agrave; H&igrave;nh nh&acirc;n Ghi ch&eacute;p T&#x1EF1; &dstrok;&#x1ED9;ng &dstrok;&#x1EBF;n l&agrave;m vi&#x1EC7;c t&#x1EA1;i c&ocirc;ng ty b&#x1B0;u
          | ch&iacute;nh CH sau Erica.
  section(style='width: inherit; height: 500px; background-color: black;')
  script(src='/javascripts/swiper/swiper.min.js')
  script(src='https://cdn.plyr.io/3.5.10/plyr.polyfilled.js')
  script(src='https://kit.fontawesome.com/26ac62eb53.js', crossorigin='anonymous')
  script(src='/javascripts/videojs.js')

