extends layout

block content
  section.header
    .header-background
      video.PC(autoplay='', loop='', width='100%')
        source(src='https://res.cloudinary.com/mavis/video/upload/v1586951018/Animation/Vioet-Evergarden-1_um7cd7.mp4')
      img.Smartphone-Tablet(width='100%', src='https://res.cloudinary.com/mavis/image/upload/v1587049930/img/900448_2_-min_v5jazs.png')
      .header-taskbar
        .header-taskbar-info
          label.header-taskbar-menu(for='check')
            i.fas.fa-bars
          input#check(type='checkbox', hidden='')
          label.header-taskbar-menu-list(for='check')  
          div
            h1 Violet Evergarden
            ul
              a(href='https://sonako.fandom.com/wiki/Violet_Evergarden_T%E1%BA%ADp_1_Ch%C6%B0%C6%A1ng_1')
                li Light Novel
              a(href='https://animehay.tv/tim-kiem?q=violet+evergarden')
                li Movie
  section.content
    .content-trailer
      img.content-trailer-img--left(src='https://res.cloudinary.com/mavis/image/upload/v1586491165/img/903094-removebg_rvtjxs.png', alt='')
      img.content-trailer-img--right(src='https://res.cloudinary.com/mavis/image/upload/v1586491165/img/903094-removebg_rvtjxs.png', alt='')
      .content-trailer-music
        video#player(controls='', width='100%', poster='https://res.cloudinary.com/mavis/image/upload/v1586491165/img/910057_doko6d.png')
          source(src='//res.cloudinary.com/mavis/video/upload/v1587393583/sound/%E3%83%B4%E3%82%A1%E3%82%A4%E3%82%AA%E3%83%AC%E3%83%83%E3%83%88_%E3%82%A8%E3%83%B4%E3%82%A1%E3%83%BC%E3%82%AC%E3%83%BC%E3%83%87%E3%83%B3_Violet_Evergarden_CM_fuiz19.mp4', type='video/mp4')
    video.PC(style='z-index:-1;', width='100%', loop='', autoplay='', src='https://res.cloudinary.com/mavis/video/upload/v1586685150/Animation/Hoadao_Ver2-1_avww2v.mp4')
    .Smartphone-Tablet(style='width: 100%; height: 200px;')
  section.plot
    .plot-violet-text(style="font-family: 'Gotu', sans-serif;")
      p
      |       Câu chuyện xoay quanh những Hình nhân ghi chép tự động (自動手記人形
      |      (Tự động thủ ký nhân hình)): búp bê được tạo ra bởi Dr. Orland để giúp
      |      người vợ mù Mollie của mình viết tiểu thuyết, và sau đó là cho những
      |      người khác cũng cần sự giúp đỡ tương tự. Ở thời điểm hiện tại, tên gọi
      |      đó ám chỉ ngành công nghiệp viết hộ/viết thuê (ghostwritter). Mặc dù
      |      chức năng ban đầu của Hình nhân ghi chép tự động chỉ là chuyển lời nói
      |      thành văn bản, nhưng một nhóm người khác đã lập ra công ty để "cho
      |      thuê" những phụ nữ tài năng xinh đẹp, vừa có khả năng năng giống như
      |      Hình nhân ghi chép tự động ban đầu, lại vừa có thể thực hiện các nhiệm
      |      vụ có mục đích dân sự lẫn quân sự.
    img(src='https://res.cloudinary.com/mavis/image/upload/v1586688522/img/888035_xzr2id_ihxol7.png')
  section.empty
  section.character(style='width: inherit; height: auto;')
    .swiper-container
      // Additional required wrapper
      .swiper-wrapper
        // Slides
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224205/img/claudia2_i7ottb.png')
          // <div class="swiper-lazy-preloader"></div>
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224205/img/gilbert_tcqcb3.png')
          // <div class="swiper-lazy-preloader"></div>
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224319/img/cattleya2_axmaos.png')
          // <div class="swiper-lazy-preloader"></div>
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224243/img/violet2_ajyxjf.jpg')
          // <div class="swiper-lazy-preloader"></div>
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224205/img/benedict_po5db1.png')
          // <div class="swiper-lazy-preloader"></div>
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224205/img/erica_dhmvdr.png')
          // <div class="swiper-lazy-preloader"></div>
        .swiper-slide
          img.swiper-lazy(src='https://res.cloudinary.com/mavis/image/upload/v1587224205/img/Iris_njszum.png')
          // <div class="swiper-lazy-preloader"></div>
      // If we need pagination
      .swiper-pagination
      //
        If we need navigation buttons
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    #character-info
      #claudia.hide
        p
          | Cựu trung tá lục quân Leidenschaftlich, Claudia hiện là giám đốc của
          |  công ty bưu chính CH. Từng là bạn thân với Gilbert trong thời gian ở
          |  tại ngũ, Claudia cố gắng giúp Violet đi những bước đầu tiên trong
          |  hành trình mới của đời mình, đồng thời cũng là để tự giải thoát mình
          |  khỏi cảm giác tội lỗi, bắt nguồn từ việc đối xử với Violet trước kia
          |  trong quân đội.
      #gilbert.hide
        p
          | Là thiếu tá lục quân Leidenschaftlich, Gilbert đến từ một gia đình
          |  quý tộc. Sau trận chiến cuối cùng với Violet, anh được cho là đã hy
          |  sinh do thi thể của anh không được tìm thấy. Anh trân trọng Violet
          |  nhiều hơn bất cứ điều gì khác, và chính những lời cuối cùng của anh
          |  với cô - "Tôi yêu em" - là động lực để cô tiến lên con đường mới của
          |  mình với công việc Hình nhân ghi chép tự động. Thứ duy nhất còn lại
          |  của Gilbert cho Violet là một chiếc vòng cổ cúc màu xanh lá cây
          |  giống với màu mắt của Gilbert.
      #cattleya.hide
        p
          |Cattleya là một Hình nhân Ghi chép Tự động làm việc tại công ty bưu
          |  chính CH và hiện là ký giả nổi tiếng nhất. Cô đã thân với Hodgins
          |  ngay cả trước khi làm việc ở công ty.
      #violet
        p
          |Violet là một nhân viên mới của Công ty Bưu chính CH, và làm việc
          |  dưới danh phận Hình nhân Ghi chép Tự động. Mặc dù trước đây là một
          |  quân nhân ít khi biểu lộ cảm xúc, nhưng cô tỏ rõ sự tôn trọng tuyệt
          |  đối với cấp trên của mình là Gilbert Bougainvillea. Mất cánh tay và
          |  ký ức của mình về chiến tranh cùng những trí nhớ về số phận của
          |  Gilbert, cô trở thành một Hình nhân ghi chép Tự động để tìm hiểu ý
          |  nghĩa của câu "Tôi yêu em" (愛してる Aishiteru?) - những lời cuối
          |  cùng Gilbert đã nói mà cô có thể nhớ.
      #benedict.hide
        p
          |  Benedict là nhân viên đưa thư ở công ty bưu chính CH.
      #erica.hide
        p
          | Erika là Hình nhân Ghi chép Tự động làm việc tại công ty bưu chính
          |  CH.Khả năng giao tiếp với khách hàng của cô rất kém.
      #iris.hide
        p
          | Iris là Hình nhân Ghi chép Tự động đến làm việc tại công ty bưu
          |  chính CH sau Erica.
  section.footer(style='width: inherit;')
    .MyName
      h1 MAVIS
    .footer-info
      ul
        li About
        li Contact
    .footer-logo
      img(src='https://res.cloudinary.com/mavis/image/upload/v1587386544/logo/MAVIS_htrak3.jpg')

  script(src='//cdn.plyr.io/3.5.10/plyr.polyfilled.js')
  script(src='//kit.fontawesome.com/26ac62eb53.js', crossorigin='anonymous')
  script(src='/javascripts/swiper/swiper.min.js')
  script(src='/javascripts/videojs.js')

