extends layout

block content
  section.header
    .header-background
      video.PC(autoplay='', loop='', width='100%')
        source(src='https://res.cloudinary.com/mavis/video/upload/v1586951018/Animation/Vioet-Evergarden-1_um7cd7.mp4')
      img.Smartphone-Tablet(width='100%', src='https://res.cloudinary.com/mavis/image/upload/v1587049930/img/900448_2_-min_v5jazs.png')
      .header-taskbar
        .header-taskbar-info
          | Info
  section.content
    .content-trailer
      img.content-trailer-img--left(src='https://res.cloudinary.com/mavis/image/upload/v1586491165/img/903094-removebg_rvtjxs.png', alt='')
      img.content-trailer-img--right(src='https://res.cloudinary.com/mavis/image/upload/v1586491165/img/903094-removebg_rvtjxs.png', alt='')
      .content-trailer-music
        video#player(controls='', width='100%', poster='https://res.cloudinary.com/mavis/image/upload/v1586491165/img/910057_doko6d.png')
          source(src='https://res.cloudinary.com/mavis/video/upload/v1586525793/sound/Lovely_-_AMV_-_Anime_MV_ilqwco.mp4', type='video/mp4')
    video.PC(style='z-index:-1;', width='100%', loop='', autoplay='', src='https://res.cloudinary.com/mavis/video/upload/v1586685150/Animation/Hoadao_Ver2-1_avww2v.mp4')
    .Smartphone-Tablet(style='width: 100%; height: 200px;')
  section.plot
    .plot-violet-text(style="font-family: 'Gotu', sans-serif;")
      p
      |  Câu chuyện xoay quanh những Hình nhân ghi chép tự động (自動手記人形
      |      (Tự động thủ ký nhân hình)): búp bê được tạo ra bởi Dr. Orland để giúp
      |      người vợ mù Mollie của mình viết tiểu thuyết, và sau đó là cho những
      |      người khác cũng cần sự giúp đỡ tương tự. Ở thời điểm hiện tại, tên gọi
      |      đó ám chỉ ngành công nghiệp viết hộ/viết thuê (ghostwritter). Mặc dù
      |      chức năng ban đầu của Hình nhân ghi chép tự động chỉ là chuyển lời nói
      |      thành văn bản, nhưng một nhóm người khác đã lập ra công ty để "cho
      |      thuê" những phụ nữ tài năng xinh đẹp, vừa có khả năng năng giống như
      |      Hình nhân ghi chép tự động ban đầu, lại vừa có thể thực hiện các nhiệm
      |      vụ có mục đích dân sự lẫn quân sự.
    img(src='https://res.cloudinary.com/mavis/image/upload/v1586688522/img/888035_xzr2id_ihxol7.png')
  section.empty
  section(style='width: inherit; height: 500px; background-color: aqua;')
  section(style='width: inherit; height: 500px; background-color: black;')
  script(src='/javascripts/videojs.js')

