doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Violet Evergarden
  link(href='https://fonts.googleapis.com/css2?family=Oswald&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Gotu&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Gotu&family=Playfair+Display:ital,wght@1,600&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='https://cdn.plyr.io/3.5.10/plyr.css')
  link(rel='stylesheet', href='/javascripts/swiper/swiper.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

